<%- include('../template/head')-%>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <form method="POST" action="/register">
                <div class="row glob">

                    <div class="col-3 jumbotron rens">
                      <h4>Renseignements proprietaire</h4>
                      <div class="row">
                        <div class="form-group col-12">
                          <label for="type_personne">Type personne</label>
                          <select id="type_personne" name="type_personne" class="form-control">
                            <option>physique</option>
                            <option>morale</option>
                          </select>
                        </div>
                        <div class="form-group col-12">
                            <label for="nom_ou_raison_sociale">Nom ou Raison Sociale</label>
                            <input type="text" class="form-control" id="nom_ou_raison_sociale" name="nom_ou_raison_sociale" placeholder="Entrer le nom ou raison sociale" required>
                        </div>
                        <div class="form-group col-12">
                            <label for="rccm">RCCM</label>
                            <input type="text" class="form-control" id="rccm" name="rccm" placeholder="Entrer le rccm" required>
                        </div>
                      </div>
                    <div class="row">
                      <div class="form-group col-12">
                          <label for="numero_impot">Numero Impot</label>
                          <input type="text" class="form-control" id="numero_impot" name="surname" placeholder="Enter Surname" required>
                      </div>
                      <div class="form-group col-12">
                          <label for="telephone">Telephone</label>
                          <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Entrer le numéro de telephone" required>
                      </div>
                    </div>
                      <div class="row">
                        <div class="form-group col-12">
                            <label for="adresse_physique">Adresse Physique</label>
                            <input type="text" class="form-control" id="adresse_physique" name="adresse_physique" placeholder="Entrer l'adresse physique" required>
                        </div>
                        <div class="form-group col-12">
                            <label for="Surname">Commune</label>
                            <input type="text" class="form-control" id="commune" name="commune" placeholder="Entrer la commune" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 jumbotron rens">
                      <h4>Renseignements vehicule</h4>
                        <div class="row">
                          <div class="form-group col-6">
                              <label for="genre">Genre</label>
                              <input type="text" class="form-control" id="genre" name="genre" placeholder="Entrer le genre" required>
                          </div>
                          <div class="form-group col-6">
                              <label for="marque">Marque</label>
                              <input type="text" class="form-control" id="marque" name="marque" placeholder="Entrer la marque" required>
                          </div>
                          <div class="form-group col-6">
                              <label for="type">Type</label>
                              <input type="text" class="form-control" id="type" name="type" placeholder="Entrer le type" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-12">
                              <label for="couleur">Couleur</label>
                              <input type="text" class="form-control" id="couleur" name="couleur" placeholder="Entrer la couleur" required>
                          </div>
                          <div class="form-group col-12">
                              <label for="chassis">Chassis</label>
                              <input type="text" class="form-control" id="chassis" name="chassis" placeholder="Entrer le chassis" required>
                          </div>
                          <div class="form-group col-12">
                            <label for="usage">Usage</label>
                            <input type="text" class="form-control" id="usage" name="usage" placeholder="Entrer l'usage" required>
                          </div>
                          <div class="form-group col-12">
                            <label for="puissance_fiscale">Puissance Fiscale</label>
                            <input type="text" class="form-control" id="puissance_fiscale" name="puissance_fiscale" placeholder="Entrer la puissance_fiscale" required>
                          </div>
                          <div class="form-group col-12">
                              <label for="Surname">Date De Mise En Circulation</label>
                              <input type="date" class="form-control" id="date_mise_en_circulation" name="date_mise_en_circulation" placeholder="Entrer la date de mise_en_circulation" required>
                          </div>
                          <div class="form-group col-12">
                              <button type="button" id="btnAjoutVehicule" class="btn  btn-success">Ajouter Vehicule</button>
                          </div>
                        </div>



                    </div>
                    <div class="col-3 jumbotron rens">
                      <h4>Renseignements vehicule Déja Enregistrés</h4>
                      <div class="row">

                      </div>
                    </div>
                </div>

                <button type="button" id="btnEnregistrer" class="btn  btn-success">Enregistrer</button>
            </form>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
<script src="/js/jquery-3.5.1.slim.js" charset="utf-8"></script>
<script>
    window.onload = function () {
        document.getElementById('register').classList.add('active');
    };
</script>
<script src="/cover.js" charset="utf-8">
</script>

</html>
