<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Created By <a href="https://www.linkedin.com/in/jonathan-manzako-8abab218a/">@jmanzako</a> </p>
    </div>
</footer>
