<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Hotel de Ville</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id='home' class="nav-link" href="/">Accueil</a>
            <a id='list' class="nav-link" href="/list">Fiches</a>
            <a id='register' class="nav-link" href="/register">Enregistrer</a>
        </nav>
    </div>
</header>
