<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="row">
   <div class="col">
            <a class="navbar-brand" href="/"> <img src="/asset/imgs/1200px-Coat_of_arms_of_Kinshasa.svg.png" width="40" height="40" alt="" loading="lazy"></a>
   </div>
   <div class="col-6 offset-4">
     <ul class="nav nav-tabs">
       <li class="nav-item">
         <a id='home' class="nav-link" href="/">Accueil</a>
       </li>
       <li class="nav-item">
           <a id='list' class="nav-link" href="/list">Fiches</a>
       </li>
       <li class="nav-item">
           <a id='register' class="nav-link" href="/register">Enregistrer</a>
       </li>
     </ul>
   </div>
 </div>
</header>
